.barcode-label-container {
    width: 55mm;
    height: 12mm;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    margin: 0 auto; 
    border: 1px dashed #ddd; 
}

.barcode-label__wing {
    width: 22mm;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.barcode-label__wing--left {
    padding-right: 1mm;
}

.barcode-label__wing--right {
    padding-left: 1mm;
}

.barcode-label__gap {
    width: 11mm;
    height: 100%;
    background: transparent; 
}

.barcode-label__price {
    font-size: 8pt;
    font-weight: 800;
    color: #000;
    line-height: 1;
}

.barcode-label__details {
    display: flex;
    gap: 3px;
    font-size: 6pt;
    font-weight: 600;
    margin-top: 1px;
}

.barcode-label__barcode-wrapper svg {
    display: block;
    width: 100% !important;
    height: auto !important;
}

.barcode-label__code {
    font-size: 5pt;
    font-family: monospace;
    letter-spacing: -0.5px;
    margin-top: -2px;
}

.barcode-label__name {
    font-size: 5pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20mm;
    text-transform: uppercase;
}

@media print {
    @page {
        size: 55mm 12mm; 
        margin: 0;
    }

    body * {
        visibility: hidden;
    }

    .inventory-modal, .inventory-modal-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: white;
        visibility: visible;
        display: block !important;
    }

    .print-preview-area, .print-preview-area * {
        visibility: visible;
    }

    .barcode-label-container {
        border: none; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .inventory-modal__header, 
    .inventory-modal__close, 
    .print-instruction, 
    .inventory-btn {
        display: none !important;
    }
}